@import "tailwindcss";

* {
    font-family: Montserrat;
}

:root {
    --color-logo-blue: #081bee;
    --color-logo-orange: #ee5108;
}

a.active {
    color: var(--color-logo-orange);
    border-bottom: 1px solid var(--color-logo-orange);
    padding-top: 0;
    padding-bottom: 0;
}
